@font-face {
  font-family: odin-font;
  src: url(/font/Norse-Bold.otf);
}

body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
}

.background {
  position: absolute;
  height: 100vh;
  width: 50%;
}

.logo-container {
  height: 200px;
  position: absolute;
  background-color: black;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  color: white;
  font-family: odin-font, 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
}

.logo {
  height: 180px;
  align-content: center;
}

.right {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 50%;
}

.text {
  padding: 100px 250px 30px 100px;
  font-size: 24px;
  font-weight: 500;
}

.text-1,
.text-2 {
  margin: 0;
  padding: 0;
}

.text-2 {
  font-weight: bold;
}

.text-3 {
  font-style: italic;
}

form {
  padding: 20px 100px 20px 100px;
  background-color: white;
  padding-left: 100px;
}

legend {
  font-size: 24px;
  font-weight: 500;
}

label,
input {
  display: flex;
  flex-direction: column;
}

button {
  height: 50px;
  width: 200px;
  margin-left: 100px;
  margin-top: 50px;
  background-color: rgb(68, 68, 255);
  color: white;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

button:active {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.bottom {
  margin-left: 100px;
  margin-top: 20px;
}

.login {
  color: rgb(68, 68, 255);
  font-weight: 500;
}

.login:hover {
  font-weight: bold;
  cursor: pointer;
}